<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <targets>
    <!-- File target for application logs -->
    <target xsi:type="File" name="fileTarget"
            fileName="${basedir}/logs/application-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
    
    <!-- Console target for debugging -->
    <target xsi:type="Console" name="consoleTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Log all messages of Info level and above to file -->
    <logger name="*" minlevel="Info" writeTo="fileTarget" />
    <!-- Log all messages of Debug level and above to console -->
    <logger name="*" minlevel="Debug" writeTo="consoleTarget" />
  </rules>
</nlog>
